a{
    color: $primary;
    transition: .3s ease all;
    font-weight: 700;
    &:hover{
        transition: .3s ease all;
        color: darken($first,15%);
    }
}
@include media-breakpoint-down(sm){
    *{
        font-size: 14px;
    }
}
:focus{outline: none; box-shadow:none!important;}
hr{
    border-top: none;
}

.form-control, input{
    border: 1px solid $secondary;
    
    border-radius: 5px;
    @include placeholder {
        @extend %text_default; 
        color: #8F8B8B;
    }
}
label{
   @extend %text_default; 
}
section{
    padding: $padding-default;
}


p{
    @extend %text_default; 
}
p > b{
    font-weight: 700;
}
h1{
    @extend %h1_header; 
}
h2{
    @extend %h2_header; 
}
p > a{
    text-decoration: underline;
    &:hover{
        @extend %color_first;
        text-decoration: underline;
    }
}



