.obra{
    @extend %background_seventh;
    padding:0;
    .barra-horrizontal {
        margin: 15px 0 15px 40px;
    }
    h2{
        @include rhythm(29,40);
        @extend %color_third;
        margin: 0 0 25px 40px;
    }
    .obra_atex{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid;
        border-radius: 10px;
        margin: 0 74px;
        padding-left: 0;
        .obra_content {
            list-style: none;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 26px 16px;
        }
    }
    button{
        width: 80%;
    }
} 