.meet{
    @extend %background_first;
    h2{
        @extend %color_fourth;
        //@extend %title_default;
    }
    h2, h3{
        @include rhythm(26, 26);
        font-weight: 700;
    }
    h3{
        @extend %color_fourth;
     
        margin: 30px 0;
    }
    p{
        @extend %color_fourth;
    }
    .item{
        margin-top: 100px;
    }
    .icon{
        &:after{
            content: '';
            display: inline-block;
            width: 178px;
            height: 178px;
            border-radius: 50%;
            @extend %background_secondary;
            position: absolute;
            z-index: 1;
            right: 0;
            top: -30px;
        }
        img{
            position: relative;
            z-index: 2;
        }
    }
}
@include media-breakpoint-up(md){
    :not(.home){
        .plans{
            padding-bottom: 10rem;
        }
    }
}
.faq{
    @extend %background_fifth;
    #accordion{
        margin-top: 60px !important;
        .card{
            background: transparent;
            text-align: left;
            & + .card{
                @include media-breakpoint-up(md){
                    margin-top: 2rem;
                }
            }
            @include media-breakpoint-up(md){
                // h5{
                //     pointer-events: none;
                // }
                // .collapse {
                //     display: block;
                // }
            }
            @include media-breakpoint-down(md){
                // &:first-child{
                //     .collapse{
                //         display: block;
                //     }
                // }
            }
            &:nth-child(n+3){
                margin-top: 32.5px;
            }
        }
    }
}
.plans{
    h2 + p{
        margin-bottom: 70px;
        @include media-breakpoint-up(md){
            margin-bottom: 100px;
        }
    }
    @include media-breakpoint-down(md){
        .slick-prev, .slick-next{
            top: 100%;
            &:before{
                color: #5a5c46;
                font-size: 30px;
            }
        }
        .slick-prev{
            left: 25px;
        }
        .slick-next{
            right: 25px;
        }
    }
    .item{
        transition: all .2s ease-in-out;
        &:hover{
            transform: scale(1.2);
            background: #fafafa;
            transition: all .2s ease-in-out;
            z-index: 99999;
        }
        h3{
            color: #414042;
            @include rhythm( 26,38);
            font-weight: 700;
            text-align: center;
            margin: .2rem 0 .7rem 0;
        }
        & + .item{
            // margin-top: 1.5rem;
            @include media-breakpoint-down(md){
                margin-top: 3rem;
            }
        }
        background: #fff;
        border-radius: 20px;
        border: 2px solid #f3f4f4;
        @include media-breakpoint-up(md){
            &.order-2{
                border-left: none;
                border-right: none;
                & ~ .item{
                    order: 3;
                    & ~ .item{
                        order: 1;
                    }
                }
            }
        }
        &.active{
            h3{
                @include rhythm( 30,43);
            }
            background: #fafafa;
            padding-bottom: 2.8rem;
            ul.benefits{
                li{
                    span{
                        @include rhythm(22,34)
                    }
                }
            }
            .btn{
                top: 64px;
            }
        }
    }
    @include media-breakpoint-up(md){
        .item{
            img{
                max-width: 38%;
            }
            &.active{
                img{
                    max-width: 100%;
                }
            }
        }
    }
    img{
        margin: 0 auto;
        display: block;
        position: relative;
        top: -30px;
    }
  
    ul.benefits{
        padding: 0;
        list-style: none;
        @include media-breakpoint-up(md){
            min-height: 260px;
        }
        li:not(:last-child){
            margin-bottom: .3rem;
        }
        li{
            @extend %color_secondary;
            span, &.obs{
                color: #414042;
                @include rhythm(19, 34);
                font-weight: 400;
                @include media-breakpoint-down(md){
                    margin-left: .8rem;
                }
            }
            span:after{
                content: '';
                @include media-breakpoint-down(md){
                    width: 80%;
                    left: 0;
                }
                width: 120%;
                height: .8px;
                position: relative;
                background: #efefef;
                display: flex;
                padding-bottom: 0;
                left: -30px;
        
            }
            &.obs{
                @include rhythm(14,16);
            }
        }
        li:not(.obs):before {
            content: '✓';
            margin-left: -1rem;
            left: 12px;
            position: absolute;
            margin-top: .1rem;
            font-size: 19px;
            font-weight: 700;
            // content: ""; 
            // position: absolute; 
            // left: 2px; 
            // top: 5px; 
            // width: 3px;
            // height: 6px;
            // border: solid $secondary;
            // border-width: 0 2px 2px 0;
            // -webkit-transform: rotate(45deg);
            // -moz-transform: rotate(45deg);
            // -o-transform: rotate(45deg);
            // transform: rotate(45deg);
        }
    }
    .badge{
        border-radius: .8rem;
        background: $first;
        color: #fff;
        font-size: .8rem;
        text-transform: uppercase;
        padding: 3px 12px;
        width: 100%;
        text-align: center;
        display: block;
        @include media-breakpoint-down(md){
            width: auto;
            max-width: 150px;
            margin: 0 auto;
        }
    }
    .btn{

    }
    .item{
        p{
            color: #414042;
            font-weight: 700;
            text-align: center;
            margin: 0;
            line-height: 1 !important;
            &.installments{
                @include rhythm(15, 35);
            }
            &.price{
                @include rhythm(55, 38);
                top: 5px;
                position: relative;
            }
            small{
                @include rhythm(14, 35);
                font-weight: 400;
            }
            &.sign{
                @include rhythm(23, 42);

            }
        }
        &.active{
            p{
                &.installments{
                    @include rhythm(19, 39);
                }
                &.price{
                    @include rhythm(62, 46);

                }
                small{
                    @include rhythm(14, 35);

                }
                &.sign{
                    @include rhythm(25, 45);

                }

            }
        }
    }
}   
.home{
    .plans{
        .item + .item{
            margin: 0;
        }
        .item:hover{
            background: #fafafa;
        }
    }
}
.redes{
    h3{
        color: #414042;
        font-weight: 700;
        @include rhythm(26, 45);
        margin-bottom: .6rem;
    }
    #response{
        color: #414042;
        // .item{
        //     padding: 2rem 3rem 2rem !important;
        //     background: #fff;
        //     filter: drop-shadow(20px 20px 20px #C6C6C6);
        // }
        @include media-breakpoint-up(md){
            // overflow-x: auto;
            // max-height: 600px;
            // direction: rtl;
            // border-left: 1px solid #efefef;
           &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
                background-color: #efefef;
            }
           &::-webkit-scrollbar {
                width: 8px;
                background-color: #efefef;
            }

           &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #a7a9ac;
            }
        }
        h4{
            font-weight: 700;
            @include rhythm(20, 25);
            margin-top: 1rem;
        }
        p{
            font-weight: 400;
            @include rhythm(18, 22);
            & + p{
                margin-top: .2rem;
            }
            &:nth-child(1){
                margin-top: 1.5rem;
            }
        }
        .row + .row{
            margin-top: 2.5rem !important;
        }
    }
}