.constructions{
    h2{
        @extend %color_third;
        @include rhythm(35, 50);
    }
    p{
        @include rhythm(14,24);
        margin-top:5px;
    }
    .solution-projeto {
        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-up(xs){
            padding: 0;
        }
        
        .card_content {
            background: url("../../img/Bourbom-Atibaia.png");
            text-align: center;
            max-width: 232px;
            max-height: 282px;
            margin: 10px auto;
            list-style: none;
            min-width: 232px;
            min-height: 282px;
            padding: 13px 0 0 0px;
            border-radius: 5px;
            -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
            -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
            box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
            img {
                width: 100%;
                @include media-breakpoint-up(xs){
                    margin-top: 6px;
                }
            } 
            h3{
                @include rhythm(15, 18);
                letter-spacing: 0;
                font-weight: normal;
                padding-top: 15px;
            }
            p{
                font-weight: bold;
                @extend %color_first;
            }
        }
    }
    
    
}